body {
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

.movieApp > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  transition: transform 0.2s;
}

.moviePoster {
  width: 200px !important;
  height: 280px !important;

}

.moviePoster:hover {
  scale: 1.1;
  cursor: pointer;
} 

span {
  font-weight: bold;
  background-color: fff;
  width: 220px;
  margin-left: 5px;
  opacity: 0;
  cursor: pointer;
}

span:hover {
  scale: 1.1;
}

svg {
  color: red;
  margin-left: 10px;
}

.image-container:hover span{
  opacity: 1;

}